body{
box-sizing: border-box;
height: 100vh;
margin: 0;
padding: 0;
}
/* Link styling */
#proceed {
all: unset;
}
/* Buttons Styling */
.add-btn {
font-size: 20px;
padding: 5px;
transition: 0.2s;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
  width: 70px;
  height: 70px;
  font-size: 25px;
}
#btn-back-to-top:hover{
  color: white;
  transition: 0.8s;
}

.add-btn:hover {
background-color: #5bc0de;
transition: 0.8s;
}

#profile-photo{
  width: 54px;
  height: 54px;
  margin-right: 1px;
  border: 1px solid #5bc0de;
  border-radius: 3px;
}

.new-section{
display: flex;
flex-direction: row;
margin-left: 350px;
}
button{
font-family: sans-serif;
}
#product-title{
  font-size: 16px;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
}
#cart-total{
  display: inline;
  font-size: 20px;
  background-color: #5bc0de;
  color: white;
  border-radius: 10px;
  padding: 2px;
  margin-left: 5px;
}
.cart-item {
  display: flex;
  align-items: center;
}
.form-field{
  padding: 5px;
}

/* Header Section Styling */
#logo{
 max-width: 70%;
}
 .container-fluid {
  max-width: 96%;
}
.container{
  position: relative;
}
.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}
.animate__fadeInUp {
  opacity: 1;
  transform: translateY(0);
}
.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  border-left: 1px solid #5bc0de;
}
.shop-items{
  max-width: 70%; 
  margin: 0 auto; 
  border-radius: 10px;
}
.arrows{
  margin: 0 auto;
  cursor: pointer;
}
#quantity{
  display: inline;
  margin: 0 auto;
}

.outro{
  background:linear-gradient(to bottom, #d9d9d9, #ffffff);
  border-radius: 10px;
  border: 1px solid white;
}
.intro{
  background: linear-gradient(to bottom, #d9d9d9, #ffffff);
  border-radius: 10px;
  border: 1px solid white;
}
.intro-2{
  background: url('../imgs/white-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}
.intro-p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 18px;
  color: black;
}
.outro-p{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.intro-h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.intro-b{
  font-size: 22px;
  display: block;
  margin: 0 auto;
}
#make-payment{
  color: white;
  background-color: #5bc0de;
}
.intro-b:hover{
  background-color: #5bc0de;
  transition: 0.8s;
  color: white;
}
.card1{
  height: 350px;
  width: 500px;
  display: block;
  margin: 0 auto;
}
#chair{
  width: 400px;
}
.box{
  height: 450px;
  width: 500px;
  margin: 0 auto;
  border-bottom: 2px solid #5bc0de;
}

/* Headers (h1,h2,h3 etc) Styling */
h1 {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 26px !important;
font-weight: bold;
}
h2 {
color: black;
font-size: 30px;
font-style: italic;
margin-left: 50px;
text-decoration: underline;
text-decoration-color: #5bc0de;
}
h3 {
text-align: center;
text-decoration: underline;
text-decoration-color: #5bc0de;
font-family: sans-serif;
font-weight: bold;
}
h4{
font-size: 22px;
}
h5 {
color: black;
font-weight: bold;
}
#welcome {
text-decoration: none;
font-size: 18px;
font-weight: bold;
white-space: nowrap;
}



/* Icons Styling */
.fa {
color: #203354;
font-size: 18px;
padding: 5px;
}
.fa-user{
padding-right: 12px;
}
.fa-ufo-beam{
  font-size: 20px;
  color: red;
}
.fa-cart-arrow-down{
color: #203355;
font-size: 22px;
}
.fa-check{
color: #42ba96;
}
/* NavBar Section */
.dropdown-item:hover{
  background-color: #5bc0de;
  color: white;
}
.nav-link:hover {
  position: relative;
}
.nav-link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5bc0de;
  animation: borderDraw 0.5s forwards;
}

@keyframes borderDraw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.navbar{
  background-color: #f2f2f2;
}
.nav-link{
  color: black!important;
  font-size: 20px!important;
  font-weight: bold!important;
}




/* Images Section */
#alien-logo{
  width: 35px;
  margin-left: 150px;
}
.row-image{
  max-width:130px;
}
.bottom-line{
  border-bottom: 2px solid #5bc0de;
  width: 95%;
padding: 10px;
  margin: 0 auto;
}

/* Paragraph Section */
p {
color: black;
font-size: 20px;
text-align: center;
font-family: sans-serif;
font-weight: bold;
}
.review{
font-style: italic;
width: 40%;
font-weight: normal;
font-size: 16px;
}


/* List Section */
li {
font-size: 16px;
font-family: sans-serif;
}
#price {
font-size: 22px;
font-weight: bold;
}

/* Horizontal Line */
hr {
clear: both;
background-color: #5bc0de;
}

/* Carousels Section */
.carousel-control-prev-icon,
.carousel-control-next-icon {
border-radius: 15px;
background-size: 100%, 100%;
background-image: none;
background-color: #5bc0de;
}


.d-block {
min-height: 300px;
}



.shop-item-image{
  max-width: 100%;
  margin: 0 auto;
}

/* Responsive Media Query For Mobile Phones */







@media (min-width: 350px) and (max-width: 600px){
p.firstp::first-letter {
font-size: 30px;
color: #5bc0de;
}


thead th{
  width: 20%;
}
.shop-items{
  max-width: 100%;
  margin: 0 auto;
}

.stars{
  width: 100%;
}

.img-fluid{
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
#logo{
  max-width: 100%;
}
.center-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-mobile {
  display: none;
}
.navbar-nav {
  width: 100%;
}
.nav-link{
  text-align: left;
  margin-right: 0px;
}
.line {
  border: none;
}

.firstp, .secondp{
font-size: 18px;
margin-left: 10px;
margin-right: 10px;

}
#alien-logo{
  display: none;
}


li{
font-size: 15px;
}
#cart-img{
width: 32px;
}
.fa-star{
  font-size: 14px;
}
.review {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.fa-star-half-alt{
  font-size: 14px;
}
#price{
  font-size: 20px;
}
.add-btn{
  font-size: 18px!important;
  display: block;
  margin: 0 auto;
}

.review-stars {
  margin-left: 5px;
  font-size: 14px;
}

.stars {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  width: 40%;
}


.register{
border: none;
}
#img-2{
width: 500px;
}
.nav-item{
width: 60%;
}
#welcome{
margin-left: 0px;
}
#logout{
margin-left: 0px;
border: none;
}

}
#content{
display: inline-block;
}
@media only screen and (min-width: 601px) and (max-width: 1024px){
p.firstp::first-letter {
font-size: 30px;
color: #5bc0de;
}
.center-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-items{
  max-width: 100%;
  margin: 0 auto;
}
#alien-logo{
  display: none;
}

.img-fluid{
  display: block;
  margin: 0 auto;
}
.hide-mobile {
  display: none;
}
.navbar-nav {
  width: 100%;
}
.nav-link{
  text-align: left;
  margin-right: 0px;
}
#logo{
  max-width: 100%;
}
.firstp, .secondp{
font-size: 18px;
margin-left: 10px;
margin-right: 10px;
}


li{
font-size: 15px;
}
#cart-img{
width: 32px;
}

.register{
border: none;
}
#img-2{
width: 500px;
}
.nav-item{
width: 60%;
}
#welcome{
margin-left: 0px;
}
#logout{
margin-left: 0px;
border: none;
}
}

#content{
display: inline-block;
}
@media only screen and (min-width: 601px) and (max-width: 1200px){
  .line{
    border: none;
  }
}


/* Cart Section */
.cart-column {
display: flex;
align-items: center;
padding-bottom: 10px;
margin-top: 10px;
height: 80px;
width: 100%;
}
.cart-row {
display: flex;
justify-content: center;
align-items: center;

}
.cart-item {
width: 85%;
}
.cart-price {
width: 30%;
font-size: 16px;
color: black;

}
.cart-quantity {

width: 35%;
}
.cart-item-title {
color: black;
margin-left: .5em;
font-size: 12px;
}
.cart-quantity-input { 
height: 34px;
width: 50px;
border-radius: 5px;
border: 1px solid #56CCF2;
background-color: #eee;
padding: 0;
text-align: center;
font-size: 1.2em;
margin-right: 25px;
}
.cart-total {
text-align: end;
margin-top: 10px;
margin-right: 10px;
}
.cart-total-title {
font-weight: bold;
font-size: 1.5em;
color: black;
margin-right: 20px;
}
.cart-total-price {
color: black;
font-size: 1.1em;
font-weight: bold;
}
.shop-item-price {
display: inline;
}
.cart-item-image {
width: 100px;
margin-left: 0px;
border-radius: 2px;
}


