{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Disclaimer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'Assets/css/Main.css' %}">
    </head>
<body>

    <div id="disclaimer" class="container-fluid outro">
        <div class="row text-center">
        <div class="col-lg-6 order-lg-1">
        <img class="img-fluid" src="{% static 'Assets/imgs/disclaimer.jpg' %}" alt="Alienware-Full-Set">
        </div>
        <div class="col-lg-6 order-lg-2 mt-5">
        <h1 class="intro-h1 text-danger">This is an Alienware themed website. It is NOT the official site!</h1>
        <p class="outro-p">Most images you see on here along with the information about the products belong to <a href="https://www.dell.com/en-us"><img src="{% static 'Assets/imgs/icons8-dell-32.png' %}"></a>
            Technologies. This is simply my personal E-commerce project, themed behind Dell's Alienware excellent brand.</p> 
            
         <p class="outro-p">You can't actually buy anything from here! It is just a mockup to showcase my skills. If you like
            their products, go to this <a style="color: #5bc0de;"  href="https://www.dell.com/en-us/shop/dell-laptops/sf/alienware-laptops">link</a> and browse their awesome collection! </p>
        </div>
        </div>
        </div>
        <br>
        <br>
        <br>
    
     
</body>

