{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>Alienware</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'Assets/css/Main.css' %}">
{% include 'basescripts.html' %}
</head>
<body>


{% include 'navbar.html' with disclaimer_link='#disclaimer' %}

<header style="text-align: center;">
  <img id="logo" src="{% static 'Assets/imgs/alienware-logo-black-and-white.png' %}">
  </header>
  <div class="container-fluid intro">
      <div class="row">
        <div class="col-lg-8 order-lg-1">
          <img class="img-fluid" src="{% static 'Assets/imgs/BackgroundRemover.png' %}" alt="Alienware-Full-Set">
        </div>
        <div class="col-lg-4 mt-5 text-center order-lg-2">
          <h1 class="intro-h1 text-info">Gear Up For Better Gaming</h1>
          <p class="intro-p">Experience Performance, Style and Innovation with Alienware</p>
          <button class="btn border intro-b border-info border-2 rounded-pill" type="button"><a style="all: unset;" href="#products">Shop Alienware</a></button>
        </div>
      </div>
    </div>
    <br>
    <br>

<div class="container-fluid intro animated">
<div class="row">
<div class="col-lg-4 text-center mb-5 order-lg-2 mt-5">
<h1 class="intro-h1 text-info">Total Control</h1>
<p class="intro-p">Command Center that gives you total control over your machine, includes Overclocking
, Performance Overlay, AlienFX(Lightning Settings) and AlienVision(Monitor-based overlays)
</p>
<button class="btn border intro-b border-info border-2 rounded-pill" type="button"><a style="all: unset;" target="_blank" href="https://www.dell.com/support/manuals/en-us/alienware-13/alienwarecommandcenter5_userguide#:~:text=Alienware%20Command%20Center%20provides%20a,and%20access%20to%20computer%20settings.">Read More</a></button>
</div>
<div class="col-lg-8 order-lg-1">
<img class="img-fluid" src="{% static 'Assets/imgs/BackgroundRemover2.png' %}" alt="Alienware-Full-Set">
</div>
</div>
</div>
<br>
<br>
<div class="container-fluid intro animated">
<div class="row">
<div class="col-lg-8 order-lg-1">
<img class="img-fluid" src="{% static 'Assets/imgs/BackgroundRemover4.png' %}" alt="Alienware-Full-Set">
</div>
<div class="col-lg-4 text-center order-lg-2 mt-5">
<h1 class="intro-h1 text-info">Your Dream Setup Starts Here</h1>
<p class="intro-p">Desktops, Monitors, Laptops and Accessories. We've got you covered.</p>
</div>
</div>
</div>
<br>
<br>
<br>

<!-- Page Content -->
<div class="container shadow-lg intro-2">
<h1 id="products" class="intro-h1 text-center text-info mt-2 p-2">Browse Our Products</h1>
<div class="line"></div>
<div class="row">
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Desktop.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/desktops">Shop Desktops</a></button>
</div>
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Monitor.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/monitors">Shop Monitors</a></button>
</div>
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Laptop.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/laptops">Shop Laptops</a></button>
</div>
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Keyboard.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/keyboards">Shop Keyboards</a></button>
</div>
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Mouse.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/mice">Shop Mice</a></button>
</div>
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Headphone.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/headsets">Shop Headsets</a></button>
</div>
<div class="col-6 box">
<img id="chair" class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Chair.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/chairs">Shop Chairs</a></button>
</div>
<div class="col-6 box">
<img class="img-fluid card1" src="{% static 'Assets/imgs/Cards/Case.png' %}">
<button class="btn border mb-3 intro-b border-info border-2 rounded-pill" type="button"><a  style="all: unset;" href="/bags">Shop Bags & Cases</a></button>
</div>
</div>
</div>
<br>
<br>
 {% include 'disclaimer.html' %}





<footer class="bg-dark text-center text-lg-start">
<!-- Copyright -->
<div class="text-center text-info p-3" style="background-color: rgba(0, 0, 0, 1);">
©2023 Copyright: All Rights Reserved.
</div>
</footer>

<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'Assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Assets/js/AlienWare.js' %}" defer></script>
<script src="{% static 'Assets/js/AnimationFunctions.js' %}"></script>
</body>
</html>