{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Alienware Keyboards</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'Assets/css/Main.css' %}">
<link rel="stylesheet" href="{% static 'Assets/css/Register.css' %}">
{% include 'basescripts.html' %}
</head>
<body>

  {% include 'navbar.html' with disclaimer_link='#disclaimer' %}

<div class="container-fluid intro">
<div class="row">
<div class="col-lg-6 order-lg-2 mt-5">
<h1 class="intro-h1 text-info">Customize As You Please</h1>
<p class="intro-p">Customize the programmable rotating dial and
adjust parameters with precision. Make your chosen keyboard
interactions quick and intuitive by assigning a compatible 
command to the programmable rocker switch.
</p>
</div>
<div class="col-lg-6 order-lg-1">
<img class="img-fluid" src="{% static 'Assets/imgs/Headers/Keyboard1.png' %}" alt="Alienware Mouse">
</div>
</div>
</div>
<br>
<br>

<div class="container-fluid intro animated">
<div class="row">
<div class="col-lg-6 order-lg-2">
<img class="img-fluid" src="{% static 'Assets/imgs/Headers/Keyboard2.png' %}" alt="Alienware-Full-Set">
</div>
<div class="col-lg-6 order-lg-1 mt-5">
<h1 class="intro-h1 text-info">Lose Yourself In The Experience</h1>
<p class="intro-p">Create themes and customize the keyboard using the Alienware Command
Center for a more immersive gaming experience. Configure AlienFX RGB
lighting that syncs with the Alienware Command Center for a riveting 
effect with up to 16.8 million colors.
</div>
</div>
</div>
<br>
<br>
<br>


<!--Keyboards carousels (No Caption):-->
{% for product_name, product_detail in product_details.items %}
  <div class="shop-items border border-info p-3 shadow-lg bg-white">
    <div class="shop-item row">
      <div class="col-md-6">
        <h1 class="shop-item-title text-center" id="keyboard">{{ product_detail.name }}</h1>
        <br>
        <div id="carousel{{ product_detail.id }}" class="carousel slide custom-carousel" data-bs-interval="false">
          <div class="carousel-inner" data-mdb-interval="1000">
            {% for image in product_detail.image.all %}
              <div class="carousel-item{% if forloop.first %} active{% endif %}" data-product-id="{{ product_detail.id }}">
                <img src="{{ image.image.url }}" class="d-block shop-item-image mx-auto custom-carousel-image" alt="{{ product_detail.name }}">
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product_detail.id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product_detail.id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 description">
        <h3>Specs:</h3>
        <br>
        <ul>
          <li class="fw-bold review">
            Reviews:
            <span class="review-stars">
              {% load my_tags %}
              <a class="review_url" href="{{ product_detail.reviews_url }}" target="_blank">{{ product_detail.reviews_score }}</a>
              <div class="stars">
                {% with product_detail.reviews_score as review_score %}
                  {% if review_score %}
                    {% star_rating review_score|default:0.0 as star_rating %}
                    {% for star in star_rating.stars %}
                      {% if star == 'full' %}
                        <i class="fa-solid fa-star text-info"></i>
                      {% elif star == 'half' %}
                        <i class="fa-solid fa-star-half-alt text-info"></i>
                      {% else %}
                        <i class="fa-regular fa-star"></i>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <span>No reviews</span>
                  {% endif %}
                {% endwith %}
              </div>
            </span>
          </li>
          <li>{{ product_detail.spec1 }}</li>
          <li>{{ product_detail.spec2 }}</li>
          <li>{{ product_detail.spec3 }}</li>
          <li>{{ product_detail.spec4 }}</li>
          <li id="price">Price:<div class="shop-item-price">&nbsp;${{ product_detail.price }}</div></li>
        </ul>
        <div class="btn-div d-flex justify-content-center align-items-center mt-auto">
          <button data-product="{{ product_detail.id }}" data-action="add" class="add-btn update-cart btn border border-info border-2 rounded-pill" type="button">
            <i class="fa fa-cart-arrow-down"></i> Add to Cart
          </button>
        </div>
       
      </div>
    </div>
  </div>
  <br>
  <hr>
{% endfor %}

{% include 'disclaimer.html' %}






{% include 'footer.html' %}


<script src="{% static 'Assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Assets/js/AlienWare.js' %}" defer></script>
<script src="{% static 'Assets/js/AnimationFunctions.js' %}"></script>


</body>
</html>